DATABASE_PATH=./data/awards.db
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8000

# United
UNITED_BEARER_TOKEN=
UNITED_COOKIES=

# Air Canada / Aeroplan
AIR_CANADA_API_KEY=
AIR_CANADA_ACCESS_TOKEN=
AIR_CANADA_ID_TOKEN=
AIR_CANADA_AMA_SESSION_TOKEN=
AIR_CANADA_COOKIES=
AIR_CANADA_ACCEPT_LANGUAGE=it-IT,it;q=0.9,en-GB;q=0.8,en;q=0.7,en-US;q=0.6
AIR_CANADA_REFERER=https://www.aircanada.com/
AIR_CANADA_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36
AIR_CANADA_SEC_CH_UA="Chromium";v="146", "Not-A.Brand";v="24", "Google Chrome";v="146"
AIR_CANADA_KPSDK_CD=
AIR_CANADA_KPSDK_CT=
AIR_CANADA_KPSDK_V=j-1.2.284
AIR_CANADA_FF_CARD_NUMBER=
